<div class="bg-white dark:bg-custom-gray-800 px-2 py-2 w-full md:rounded-xl max-w-2xl cursor-pointer"
    (click)="goToPost()">
    <div class="relative z-30 overflow-shown">
        <div class="bg-neutral-100 dark:bg-custom-gray-700 shadow-neutral-200 dark:shadow-neutral-900 shadow-md z-30 absolute right-1 rounded-md flex-col items-start justify-start font-semibold hidden overflow-hidden py-2"
            #postMenu>
            <div *ngIf="isAuthor" class="w-full duration-100 hover:bg-white dark:hover:bg-custom-gray-800">
                <div class="flex px-6 w-full py-2 items-center gap-2 transition-all duration-300 text-red-500"
                    (click)="deletePost($event)">
                    <mat-icon class="scale-90">delete</mat-icon>
                    <p class="text-md">Delete</p>
                </div>
            </div>
            <div *ngIf="!isAuthor" class="w-full">
                <div class="flex px-6 w-full py-2 items-center gap-2 transition-all duration-300">
                    <mat-icon class="scale-90">report</mat-icon>
                    <p class="text-md">Report</p>
                </div>
                <div class="flex px-6 w-full py-2 items-center gap-2 transition-all duration-300">
                    <mat-icon class="scale-90">block</mat-icon>
                    <p class="text-md">Block {{post.creator}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed top-0 left-0 z-10 w-full h-full hover:cursor-default" *ngIf="isPostMenuShown"
        (click)="togglePostMenu($event)"></div>
    <div class="flex items-start gap-4 relative">
        <div>
            <a [routerLink]="['profile', post.creator]" (click)="goToCreator($event)">
                <div class="h-12 w-12 rounded-full profile-image-no-shadow" [style.background]="'center no-repeat'"
                    [style.background-size]="'cover'" [style.backgroundImage]="'url(' + post.creatorImage + ')'"></div>
            </a>
        </div>
        <div class="flex flex-col gap-2 w-full py-1 -mt-1">
            <div class="">
                <div class="flex justify-between relative">
                    <div class="flex items-center justify-center gap-2">
                        <a [routerLink]="['profile', post.creator]" (click)="goToCreator($event)">
                            <p class="font-semibold text-md post-hover-link">{{post.creator}}</p>
                        </a>
                        <p class="text-xs text-neutral-400">{{post.createdAt}}</p>
                    </div>
                    <div class="flex justify-center items-center gap-2 reply-container relative hover:cursor-pointer"
                        (click)="togglePostMenu($event)" *ngIf="isAuthor">
                        <div class="relative flex items-center justify-center">
                            <div class="p-5 reply absolute rounded-full"></div>
                            <mat-icon class="cursor-pointer">more_horiz</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <a [routerLink]="['post', post.replyingToPost]" (click)="goToReplying($event)">
                        <p class="text-sm hover:underline" *ngIf="post.reply">Replying to
                            <span class="text-color-accent">{{post.replyingToUser}}</span>
                        </p>
                    </a>
                </div>
                <div class="text-sm break-all" [innerHTML]="this.post.message | Linkify" #messageContainer>
                </div>
                <div *ngIf="post.imageUrls" class="flex w-full h-96 gap-2 my-2">
                    <div class="flex flex-col w-full gap-2 h-full">
                        <div *ngIf="post.imageUrls.length > 0"
                            class="w-full h-full rounded-md relative transition-all duration-200"
                            [style.background]="'center no-repeat'" [style.background-size]="'cover'"
                            [style.backgroundImage]="'url('+ post.imageUrls[0] +')'"></div>
                        <div *ngIf="post.imageUrls.length > 3"
                            class="w-full h-full rounded-md relative transition-all duration-200"
                            [style.background]="'center no-repeat'" [style.background-size]="'cover'"
                            [style.backgroundImage]="'url('+ post.imageUrls[3] +')'"></div>
                    </div>
                    <div *ngIf="post.imageUrls.length > 1" class="flex flex-col w-full gap-2">
                        <div *ngIf="post.imageUrls.length > 2"
                            class="w-full h-full rounded-md relative transition-all duration-200"
                            [style.background]="'center no-repeat'" [style.background-size]="'cover'"
                            [style.backgroundImage]="'url('+ post.imageUrls[2] +')'"></div>
                        <div *ngIf="post.imageUrls.length > 1"
                            class="w-full h-full rounded-md relative transition-all duration-200"
                            [style.background]="'center no-repeat'" [style.background-size]="'cover'"
                            [style.backgroundImage]="'url('+ post.imageUrls[1] +')'"></div>
                    </div>
                </div>
            </div>
            <div class="primary-text flex justify-between mr-16 relative">
                <div class="flex justify-center items-center gap-2 like-container relative hover:cursor-pointer"
                    (click)="like($event)">
                    <div class="relative flex items-center justify-center">
                        <div class="p-5 like absolute rounded-full"></div>
                        <mat-icon [ngClass]="post.liked ? 'text-red-500' : null"
                            class="cursor-pointer">favorite</mat-icon>
                    </div>
                    <div>
                        <span>{{post.likeCount}}</span>
                    </div>
                </div>
                <div class="flex justify-center items-center gap-2 reply-container relative hover:cursor-pointer">
                    <div class="relative flex items-center justify-center">
                        <div class="p-5 reply absolute rounded-full"></div>
                        <mat-icon class="cursor-pointer">chat bubble</mat-icon>
                    </div>
                    <div>
                        <span>{{post.repliesCount}}</span>
                    </div>
                </div>
                <div class="flex justify-center items-center gap-2 save-container relative hover:cursor-pointer"
                    (click)="save($event)">
                    <div class="relative flex items-center justify-center">
                        <div class="p-5 save absolute rounded-full"></div>
                        <mat-icon [ngClass]="post.saved ? 'text-yellow-500' : null"
                            class="cursor-pointer">bookmark</mat-icon>
                    </div>
                    <div>
                        <span>{{post.saveCount}}</span>
                    </div>
                </div>
                <div class="flex justify-center items-center gap-2 share-container relative hover:cursor-pointer"
                    (click)="share($event)">
                    <div class="relative flex items-center justify-center">
                        <div class="p-5 share absolute rounded-full"></div>
                        <mat-icon class="cursor-pointer">share</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>