<div class="post-card px-2 py-2 w-full post max-w-2xl" (click)="goToPost()">
    <div class="relative z-30 overflow-shown">
        <div class="header-menu z-30 absolute right-1 rounded-md flex-col items-start justify-start font-semibold hidden post-menu overflow-hidden py-2" #postMenu>
            <div *ngIf="isAuthor" class="w-full">
                <div class="button flex px-6 w-full py-2 items-center gap-2 transition-all duration-300 text-red-500" (click)="deletePost($event)">
                    <mat-icon class="scale-90">delete</mat-icon><p class="text-md">Delete</p>
                </div>
            </div>
            <div *ngIf="!isAuthor" class="w-full">
                <div class="button flex px-6 w-full py-2 items-center gap-2 transition-all duration-300">
                    <mat-icon class="scale-90">report</mat-icon><p class="text-md">Report</p>
                </div>
                <div class="button flex px-6 w-full py-2 items-center gap-2 transition-all duration-300">
                    <mat-icon class="scale-90">block</mat-icon><p class="text-md">Block {{post.creator}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed top-0 left-0 z-10 w-full h-full hover:cursor-default" *ngIf="isPostMenuShown" (click)="togglePostMenu($event)"></div>
    <div class="flex items-start gap-2 relative">
    <div><div class="h-12 w-12 rounded-full profile-image-no-shadow" [style.background]="'center no-repeat'" [style.background-size]="'cover'" [style.backgroundImage]="'url(' + post.creatorImage + ')'" (click)="goToCreator($event)"></div></div>
    <div class="flex flex-col gap-2 w-full py-1 -mt-1">
        <div class="">
            <div class="flex justify-between relative" (click)="goToCreator($event)">
                <div class="flex items-center justify-center gap-2"><p class="font-semibold text-md post-hover-link">{{post.creator}}</p><p class="text-sm">{{post.createdAt}}</p></div>
                <div class="flex justify-center items-center gap-2 reply-container relative hover:cursor-pointer" (click)="togglePostMenu($event)">
                    <div class="relative flex items-center justify-center">
                        <div class="p-5 reply absolute rounded-full"></div>
                        <mat-icon class="cursor-pointer">more_horiz</mat-icon>
                    </div>
                </div>
            </div>
            <p class="text-sm hover:underline" *ngIf="post.reply" (click)="goToReplying($event)">Replying to <span class="text-color-accent">{{post.replyingToUser}}</span></p>
            <div class="text-sm break-all" #messageContainer></div>
            <div *ngIf="post.imageUrls" class="flex w-full h-96 gap-2 my-2">
                <div class="flex flex-col w-full gap-2 h-full">
                    <div *ngIf="post.imageUrls.length > 0" class="w-full h-full rounded-md relative transition-all duration-200" [style.background]="'center no-repeat'" [style.background-size]="'cover'" [style.backgroundImage]="'url('+ post.imageUrls[0] +')'"></div>
                    <div *ngIf="post.imageUrls.length > 3" class="w-full h-full rounded-md relative transition-all duration-200" [style.background]="'center no-repeat'" [style.background-size]="'cover'" [style.backgroundImage]="'url('+ post.imageUrls[3] +')'"></div>
                </div>
                <div *ngIf="post.imageUrls.length > 1" class="flex flex-col w-full gap-2">
                    <div *ngIf="post.imageUrls.length > 2" class="w-full h-full rounded-md relative transition-all duration-200" [style.background]="'center no-repeat'" [style.background-size]="'cover'" [style.backgroundImage]="'url('+ post.imageUrls[2] +')'"></div>
                    <div *ngIf="post.imageUrls.length > 1" class="w-full h-full rounded-md relative transition-all duration-200" [style.background]="'center no-repeat'" [style.background-size]="'cover'" [style.backgroundImage]="'url('+ post.imageUrls[1] +')'"></div>
                </div>
            </div>
        </div>
        <div class="primary-text flex justify-between mr-16 relative">
            <div class="flex justify-center items-center gap-2 like-container relative hover:cursor-pointer" (click)="like($event)">
                <div class="relative flex items-center justify-center">
                    <div class="p-5 like absolute rounded-full"></div>
                    <mat-icon [ngClass]="isPostLiked ? 'text-red-500' : null" class="cursor-pointer">favorite</mat-icon>
                </div>
                <div>
                    <span>{{post.likeCount}}</span>
                </div>
            </div>
            <div class="flex justify-center items-center gap-2 reply-container relative hover:cursor-pointer">
                <div class="relative flex items-center justify-center">
                    <div class="p-5 reply absolute rounded-full"></div>
                    <mat-icon class="cursor-pointer">chat bubble</mat-icon>
                </div>
                <div>
                    <span>{{post.repliesCount}}</span>
                </div>
            </div>
            <div class="flex justify-center items-center gap-2 save-container relative hover:cursor-pointer" (click)="save($event)">
                <div class="relative flex items-center justify-center">
                    <div class="p-5 save absolute rounded-full"></div>
                    <mat-icon [ngClass]="isPostSaved ? 'text-yellow-500' : null" class="cursor-pointer">bookmark</mat-icon>
                </div>
                <div>
                    <span>{{post.saveCount}}</span>
                </div>
            </div>
            <div class="flex justify-center items-center gap-2 share-container relative hover:cursor-pointer" (click)="copyLinkToClipboard($event)">
                <div class="relative flex items-center justify-center">
                    <div class="p-5 share absolute rounded-full"></div>
                    <mat-icon class="cursor-pointer">share</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
