<div class="w-full flex gap-4 max-w-7xl mx-auto items-start">
    <div class="hidden md:flex md:w-1/3 xl:w-1/4 sticky top-14 mt-14 w-1/4">
        <div class="w-full">
            <app-lateral-homebar></app-lateral-homebar>
        </div>
    </div>
    <div class="w-full md:w-2/3 xl:w-1/2 pb-32">
        <div class="mt-16 flex flex-col gap-2 md:gap-4">
            <app-single-post [post]="mainPost" *ngIf="mainPost"></app-single-post>
            <app-post-form [id]="id"></app-post-form>
            <app-posts [postList]="replies" *ngIf="replies"></app-posts>
        </div>
        <app-observer (inView)="requestReplyPage()"></app-observer>
    </div>
    <div class="hidden md:flex md:w-1/3 xl:w-1/4 sticky top-14 mt-14 w-1/4">
        <div class="w-full">
            <app-suggested-tags></app-suggested-tags>
        </div>
    </div>
</div>