<div class="w-full fixed top-0 z-20 h-12 px-2 backdrop-blur-sm">
    <div class="container max-w-7xl mx-auto flex justify-between h-full">
        <div class="flex items-center justify-center gap-4">
            <div class="md:hidden px-2 flex justify-center items-center" [ngClass]="seeBack ? 'flex' : 'hidden'"
                (click)="navigateBack()">
                <mat-icon>arrow_back_ios</mat-icon>
            </div>
            <a routerLink="/" class="md:flex" [ngClass]="seeLogo ? 'flex' : 'hidden'">
                <div class="h-full flex items-center">
                    <p class="text-2xl font-bold">Annex</p>
                </div>
            </a>
            <app-search class="hidden md:flex"></app-search>
        </div>
        <ng-template #loginContent>
            <div class="flex gap-2 justify-center items-center font-semibold">
                <a routerLink="/login"><button
                        class="px-4 py-1 rounded-full duration-100 bg-blue-500 dark:bg-white text-black hover:opacity-80">Login</button></a>
                <a routerLink="/register"><button
                        class="px-3 py-1 rounded-xl text-white duration-100 hover:opacity-80">Sign
                        Up</button></a>
            </div>
        </ng-template>
        <div *ngIf="user != null; else loginContent" class="flex items-center justify-center gap-2">
            <app-notifications></app-notifications>
            <div class="header-profile flex items-center justify-end gap-4 relative rounded-full">
                <div class="cursor-pointer flex items-center justify-center gap-1" (click)="toggleMenu()" #profilePic>
                    <div class="h-11 w-11 md:h-10 md:w-10 rounded-full profile-image-no-shadow"
                        [style.background]="'center no-repeat'" [style.background-size]="'cover'"
                        [style.backgroundImage]="'url(' + user?.profilePicture + ')'"></div>
                    <div class="hidden justify-center items-center">
                        <p class="text-md">{{user?.username}}</p>
                        <mat-icon class="transition-all duration-300"
                            [ngClass]="isMenuShown && 'rotate-180'">expand_more</mat-icon>
                    </div>
                </div>
                <div class="hidden transition-all duration-300 flex-col absolute top-11 w-80 rounded-xl mr-1 bg-white dark:bg-custom-gray-800 shadow-sm shadow-neutral-300 dark:shadow-neutral-900"
                    #menu id="menu">
                    <div *ngIf="user?.backgroundPicture" class="h-24 rounded-t-md"
                        [style.background]="'center no-repeat'" [style.background-size]="'cover'"
                        [style.backgroundImage]="' url(' + user?.backgroundPicture + ')'"></div>
                    <div *ngIf="!user?.backgroundPicture"
                        class="h-24 rounded-t-md bg-gradient-to-r from-blue-500 to-blue-700"></div>
                    <div class="px-4">
                        <div class="relative flex justify-center items-center gap-2 py-2 border-b border-neutral-500 cursor-pointer"
                            routerLink='/profile/{{user.username}}' (click)="closeMenu()">
                            <img class="absolute h-16 w-16 rounded-full object-cover -top-8"
                                src='{{user?.profilePicture}}' />
                            <p class="text-xl font-semibold mt-8">{{user?.username}}</p>
                        </div>
                        <div class="flex flex-col py-2">
                            <div class="dark:hover:bg-gray-700 hover:bg-neutral-100 duration-100 flex gap-4 rounded-md items-center justify-start px-1 my-1 py-1 cursor-pointer"
                                routerLink='/profile/{{user.username}}' (click)="closeMenu()">
                                <div class="flex items-center justify-center px-1 py-1 rounded-full"><mat-icon
                                    class="dark:text-neutral-200 text-neutral-600 primary-icon">person</mat-icon></div>
                                <p>Your profile</p>
                            </div>
                            <div class="flex items-center justify-between rounded-md">
                                <div
                                    class="flex gap-4 items-center justify-start px-1 mt-2 my-1 py-1 cursor-pointer transition-all duration-300">
                                    <div class="flex items-center justify-center px-1 py-1 rounded-full "><mat-icon
                                        class="dark:text-neutral-200 text-neutral-600 primary-icon">dark_mode</mat-icon></div>
                                    <p>Dark mode</p>
                                </div>
                                <div>
                                    <app-switch class="" [BooleanCondition]="isDarkMode"
                                        (change)="toggleDarkMode()"></app-switch>
                                </div>
                            </div>
                            <div class="dark:hover:bg-gray-700 hover:bg-neutral-100 flex gap-4 rounded-md items-center justify-start px-1 my-1 py-1 cursor-pointer"
                                (click)="logout()">
                                <div class="flex items-center justify-center px-1 py-1 rounded-full"><mat-icon
                                        class="dark:text-neutral-200 text-neutral-600 primary-icon">logout</mat-icon></div>
                                <p>Logout</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>