<div class="flex flex-col rounded-xl dark:bg-custom-gray-800 bg-white" *ngIf="currentProfile">
    <div class="relative flex flex-col items-center justify-center">
        <div class="w-full rounded-t-xl">
            <div class="w-full h-20 rounded-t-xl" [style.background]="'center no-repeat'" [style.background-size]="'cover'" [style.backgroundImage]="'url(' + currentProfile?.backgroundPicture + ')'" *ngIf="currentProfile.backgroundPicture; else other_bg"></div>
            <ng-template #other_bg>
                <div class="w-full h-20 bg-blue-500 rounded-t-xl"></div>
            </ng-template>
        </div>
        <div class="absolute top-12 bg-custom-gray-800 rounded-full" [routerLink]="['', 'profile', currentProfile.username]">
            <img class="w-16 h-16 content-center cursor-pointer hover:opacity-80 duration-100 rounded-full" [src]="currentProfile.profilePicture"/>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center pt-10 pb-3">
        <h1 class="font-semibold text-xl hover:underline cursor-pointer" [routerLink]="['', 'profile', currentProfile.username]">
            {{currentProfile.username}}
        </h1>
        <p class="text-sm text-neutral-500 dark:text-neutral-400">{{currentProfile.totalPosts}} total posts</p>
    </div>
    <div class="flex items-center justify-center pb-4" *ngIf="currentProfile.biography.length > 0">
        <p class="text-sm text-neutral-400">{{currentProfile.biography}}</p>
    </div>
    <div class="flex py-3 border-t">
        <div class="flex flex-col items-center justify-center w-full font-semibold border-r">
            <h1>{{currentProfile.following}}</h1>
            <p>Following</p>
        </div>
        <div class="flex flex-col items-center justify-center w-full font-semibold">
            <h1>{{currentProfile.followers}}</h1>
            <p>Followers</p>
        </div>
    </div>
</div>
