<div class="h-12 py-0.5 w-full bg-white dark:bg-custom-gray-900 border-t border-neutral-700 overflow-x-clip">
    <div class="flex h-full justify-around items-center">
        <div class="flex items-center justify-center h-full cursor-pointer" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-section text-color-accent">
            <mat-icon class="scale-150">home</mat-icon>
        </div>
        <div class="flex items-center justify-center h-full cursor-pointer" routerLink="/mobile-search" routerLinkActive="active-section text-color-accent">
            <mat-icon class="scale-150">search</mat-icon>
        </div>
        <div class="flex items-center justify-center h-full cursor-pointer" (click)="goToProfile()"
        routerLinkActive="active-section text-color-accent">
            <mat-icon class="scale-150">person</mat-icon>
        </div>
    </div>
</div>