<div class="h-14 w-full primary-background-color">
    <div class="flex h-full justify-around items-center">
        <div class="flex items-center justify-center px-1 h-full cursor-pointer" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-section">
            <img class="max-h-10" src="https://img.icons8.com/3d-fluency/94/null/home.png"/>
        </div>
        <div class="flex items-center justify-center px-1 h-full cursor-pointer" routerLink="/mobile-search" routerLinkActive="active-section">
            <img class="max-h-10" src="https://img.icons8.com/3d-fluency/94/null/search.png"/>
        </div>
        <div class="flex items-center justify-center px-1 h-full cursor-pointer" (click)="goToProfile()"
        routerLinkActive="active-section">
            <img class="max-h-10" src="https://img.icons8.com/3d-fluency/94/null/person-male--v1.png"/>
        </div>
    </div>
</div>