<div class="h-full w-full flex flex-col justify-between">
    <div>
        <app-user-card></app-user-card>
        <div class="flex flex-col my-2 py-2 px-2 post-card" *ngIf="suggestedList.getValue().length > 0">
            <p class="pb-1 font-semibold text-xl">Recommended accounts</p>
            <div class="flex flex-col gap-2">
                <tr *ngFor="let profile of suggestedList | async">
                    <app-profile-card [profile]="profile"></app-profile-card>
                </tr>
            </div>  
        </div>
        <div class="flex flex-col my-2 py-4 px-2 post-card" *ngIf="tagList.getValue().length > 0">
            <p class="pb-1 font-semibold text-xl">Popular tags</p>
            <div class="flex gap-2 flex-wrap">
                <tr *ngFor="let tag of tagList | async">
                    <div class="tag-class px-2 py-1 text-xl rounded-full break" [routerLink]="['/tag', tag.name]">
                        <p>{{tag.name}}</p>
                    </div>
                </tr>
            </div> 
        </div>
    </div>  
</div>
